body {
	background: #3160A7;
}


.triangle {
	animation: pulse 3.5s ease-in-out;
}
.triangle:hover {
	background-color: black;
	cursor: pointer;
	transition: background-color 0.4s ease-in-out;
	transition-delay: 0.3s;
}

@keyframes pulse {
	0% { transform:scale(1.0) rotate(0deg); }
	50% { transform:scale(1.2) rotate(20deg); }
	100% { transform:scale(1.0) rotate(0deg); }

}
